<!DOCTYPE html>
<html lang="en">
<head>
    <title>PE Tracker</title>
    <meta charset="utf-8">
</head>
<body>
  <h1>PE Tracker</h1>
  <div style='padding-left: 1em;'> 
    <span style='padding-right: 4em;'>Task</span>
    <span>Time</span>
  </div>
  
  <% tasks.forEach(function(r) {%>
    <div style='padding: 1em;'>
    <button id='<%= r.id %>'
    onClick='javascript:logTask(<%= r.id %>, (valueOne<%= r.id %>.value.concat(valueTwo<%= r.id %>.value, valueThree<%= r.id %>.value)));'><%= r.name %> </button>
    <select name="valueOne<%= r.id %>" id="valueOne<%= r.id %>">
      <option value="'+00">00</option>
      <option value="'+01">01</option>
      <option value="'+02">02</option>
      <option value="'+03">03</option>
      <option value="'+04">04</option>
    </select>
    <select name="valueTwo<%= r.id %>" id="valueTwo<%= r.id %>">
      <option value=":02">:02</option>
      <option value=":05">:05</option>
      <option value=":10">:10</option>
      <option value=":15">:15</option>
      <option value=":20">:20</option>
    </select>
    <select name="valueThree<%= r.id %>" id="valueThree<%= r.id %>">
      <option value=":00'">:00</option>
      <option value=":10'">:10</option>
      <option value=":20'">:20</option>
      <option value=":30'">:30</option>
      <option value=":45'">:45</option>
    </select>
    </div>
  <%}); %>
  <a href="db-info"><button>Finish Observing</button></a>
  <script>
let currentTaskId = null;

const logTask = async function(id, duration) {
  const response = await fetch('/log', {
    method: 'POST',
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        users_id: -1,
        students_id: -1,
        task_id: id,
        duration: duration
      })
  });
    const result = await response.json();
    
    currentTaskId = id;
};
  </script>
</body>
</html>